* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #0a7b8b;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.seconday-header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #0a3b8a;
    padding: 100px 10%;
}

.primary-main {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #0a4d8a;
    padding: 50px 5%;

}

.primary-main > div {
    flex-grow: 1;
    flex-basis: 0;
    margin: 30px;
    padding: 50px;
    width: 50px;
    background-color: aqua;
    border-radius: 10px;
}



.secondary-main {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #0a3b8a;
    padding: 100px 10%;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #09172e;
    padding: 100px 10%;
}